*{
	padding: 0; margin: 0;
}
body{
	font-family:'Roboto' sans-serif;

}
ul{
	list-style: none;
}
h1{
	margin: 0;
	font-family: "Playfair Display";
	font-size:22px;
	font-weight: 700;
	letter-spacing:0.05em;
}
p{
	font-family:'Roboto' sans-serif;
	font-weight:300 !important;;
	font-size:14px;
	line-height:1.5em;
	letter-spacing:0.03em;
	color:#403a4a;
}
a,a:hover,a:focus{
	text-decoration: none;
	color:inherit;
}
hr{
	border-width: 0;
	margin:0px auto;
}
.robotoblack{
	font-family:'Roboto Black', sans-serif;
	letter-spacing:0.05em;
}
.robotolight{
	font-family:'Roboto Light', sans-serif;
}
.pfreg{
		font-family: "PFR";
	font-size:14px;
	font-weight: 300;
	letter-spacing:0.075em;
}
.learn{
	display:block;
	border:1px solid #00e0d0;
	width:120px;
	height:40px;	
	text-align:center;
	border-radius:2px;
}
.learn a{
	display:block;
	padding: 10px;
	color:#00e0d0;
font-family: 'Hammersmith One', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
.left{
	float:left;
}
.right{
	float:right;
}
.logo{
	background:url("../img/logo.png") 
	no-repeat center center;
  height:50px;
  width:130px;
}





#header{
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
	background-image:url("../img/bg-top.png");
	color:white;
	font-family:'Roboto', sans-serif;
	padding-bottom:70px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .header-content {
  margin: 0 auto;
  max-width: 1170px;
  padding-bottom:20px;
  width: 100%;
  -moz-transition: all, 3s;
  -o-transition: all, 3s;
  -webkit-transition: all, 3s;
  transition: all, 3s; 
}
header .logo {
  float: left; 
	margin-top: 15px;
	margin-left: 30px;
}
header.fixed {
	max-height:80px;
	opacity:1;
  background-color: #30235f; 
    -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s; 
}
header.fixed .header-content {
  border-bottom: 0;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all  3s; 
}
header.fixed .nav-toggle {
  top: 18px; 
}
header .header-content ul{
	margin-top: 35px;
	font-size: 13px;
	letter-spacing:0.025em;
}
header .header-content ul li{
	display:inline-block;
	margin-right: 20px;
}
header a.active,header a:hover{
	color:#00e0d0;
}
header .header-content nav {
  float: right; 
}
header .header-content nav.open {
  opacity: 0.5;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; 
}
header .nav-toggle{
	display:none;
	float:right;
	margin:15px 25px;
	font-size:20px;
	padding:15px;
}
header .outmenu{
	width:300px;
	position:fixed;
	max-width: 90%;
  height: 100%;
  right: -300px;
  top: 0;
  background:#578542;
	display:block;
	transition: right 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}
header .outmenu.open{
	right:0;
	display:block;
}
header span.close{
	float:left;
	display:block;
	color:white;
	padding:10px;
	margin:20px;
	font-size: 20px;

}
.outmenu .content{
	width:80%;
	float:right;
	padding: 20px 20px 20px 0;
	margin:20px auto;
	color:#fff;
}
header .outmenu .content ul{
	margin: 0 auto;	
}




#header .title{
	padding-top:100px;
}
#header h1{
	padding-top: 115px;
	font-size:32px;
	letter-spacing:0.01em;
}
#header hr{
	height:1px;
	width: 50px;
  margin: 25px auto;
  color:#00e0d0;
  background-color:#00e0d0;
}
#header p{
	color:white;
}
#header .learn{
	margin:40px auto 0;
}

#header .pager{
	margin-top:105px;
}
#header .circle{
	display:inline-block;
	width:10px; height:10px;
	border:1px solid #fff;
	border-radius:5px;
}
#header .circle.active{
	background: #00e0d0;
	border:1px solid  #00e0d0;
}


/*OUR STORY*/
#story{
	 padding: 70px 0 70px;
  overflow: hidden;

}
#story h1{
	margin-bottom: 25px;
}
#story p{
	margin-bottom:30px;
}


/*WATCH OUR STORY*/
#watch{
	padding:200px 0 200px;
  background:url("../img/bg-watch.png"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  color:white;

}
#watch a{overflow:hidden;}
#watch img{
	margin:0 auto;
	margin-bottom: 30px;
	heght:100%;
	vertical-align:middle;
}
#watch p{
	color:white;
	letter-spacing:0.05em;
	font-size:16px;
}

/*EXPERTISE*/
#expertise{
	padding:68px 0;
}
#expertise h1{
	margin-bottom: 10px;
}
#expertise hr{
	width:50px;
	height:2px;
	margin:15px auto 48px;
	background:#c8c5ca;
}
#expertise .features{
	margin:48px 0 68px;
}
#expertise .feature{
	padding:30px;
}
#expertise .icon{
	margin: 0 auto;
	height:50px;
	margin-bottom:30px;
}
#expertise .feature p:nth-child(3){
	margin:0 auto;
	color:#303030;
	width:263.33px;
}


/*TEAM*/
#team{
	padding:66px 0;
  background:url("../img/bg-watch.png"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  color:white;
}
#team h1{
	margin-bottom: 10px;
}
#team hr{
	width:50px;
	height:2px;
background:#685c82;
margin:25px auto 50px;
}
#team div.person{
	margin:0 auto 40px;
	max-width:220px;
}
#team img{
	background:#f5f4f6;
	width:220px;
	height:229px;
	color:black;
	text-align:center;
}
#team .profile{
	text-align:center;
	width:220px;
	border:1px solid #7a768e;
}
#team p{
	color:#f3f3f3;
}
#team .profile p:first-child{
	color:white;
	margin: 15px 0 0;
}
#team .profile p:nth-child(2){
	color:#fafafa;
	font-size:13px;
	margin: 0 0 15px;
}
#team .joinus{
	margin-top: 70px;
}
#team .learn{
	margin:30px auto 0;
	width: 140px;
}


/*OUR WORKS*/
#work{
	padding:70px 0;

}
#work p,#work h1{
	margin: 0; vertical-align: middle;
}
#work p{
	vertical-align: middle;
}
#work p span{
	display:inline-block;
	background:url('../img/righ.png') no-repeat
	center center;
	width:8px; height:13px;
	vertical-align:middle;
	padding-left:10px;
}


.work {
  -moz-box-shadow: 0 0 0 1px #000;
  -webkit-box-shadow: 0 0 0 1px #000;
  box-shadow: 0 0 0 1px #000;
  padding-left:0;
  min-height: 150px;
  min-width: 150px;
  max-height: 300px;
  max-width: 800px;
  overflow: hidden;
  position: relative; 
}
.work img{
    margin: 0 auto;
}
.work .container-fluid{
	margin:o auto;
}
/**/
.work .overlay {
  background: #ff6886;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transition: opacity, 0.3s;
  -o-transition: opacity, 0.3s;
  -webkit-transition: opacity, 0.3s;
  transition: opacity, 0.3s; 
}
  /*Стили для описания проекта на картинке*/
.work .overlay-caption {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%; 
}
  /*плавненько*/
.work h5, .work p, .work img {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
.work h5, .work p {
  color: black;
  margin: 0;
  opacity: 0; 
}
.work h5 {
  margin-bottom: 5px;
  -moz-transform: translate3d(0, -200%, 0);
  -ms-transform: translate3d(0, -200%, 0);
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0); 
}
.work p {
  -moz-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); 
}
/*увеличение картинки*/
.work-box:hover img {
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2); 
}
/*при наведении оверлэй становится менее прозрачным*/
.work-box:hover .overlay {
	opacity: 0.8; 
}
.work-box:hover .overlay h5, .work-box:hover .overlay p {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
}



#load{
	padding:70px 0;
}
#load .learn{
	margin:0 auto;
}

/*QUOTES*/
#quotes{
	background:url('../img/bg-quotes.png') no-repeat 
	center center;
	background-size:cover;
	overflow:hidden;
	position:relative;
	padding:66px 0;
	
}
#quotes h2{
	font-size:100px;margin-top: 0;margin-bottom: 0;
	letter-spacing:0.03em;
	color:#fff;
}
#quotes p.pfreg{
	color:#fff;
	font-size:16px;
	letter-spacing:0.025em;
	margin-bottom: 44px;
}
#quotes p.robotoblack{
	font-size:14px;
	color:#fff;
	margin-bottom: 5px;
}
#quotes p.robotolight{
	font-size:13px;
	color:#fff;
}
#quotes .someslider{
	margin:40px auto 0;
	width:400px;
	max-width:100%;
	height:70px;
	background:red;
}


/*GIVE A GOOD NEWS*/
#forma{
	overflow:hidden;
	position:relative;
	padding:70px 0;
}
#forma h1{
	margin-bottom: 30px;																																												
}
#forma input,#forma textarea{
	width:100%;
	line-height:45px;
	border:1px solid #e5e5e5;
	color:#403b4a;
	margin-bottom: 20px;
}
#forma textarea{
		line-height:25px;
		height:200px;
}
#forma h1.happy{
	margin-bottom: 45px;
}
#forma input[type=submit].learn{
	width:120px;
	height:40px;
	color:#00e0d0;
	border:1px solid #00e0d0;
	background:transparent;
	font-family: 'Hammersmith One', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	vertical-align:middle;

}
#forma img{
	display:block;
	margin:0 auto;
	padding-bottom:40px;
}
#forma .left,#forma .right{
	width:40%;
}

/*FOOTER*/
#footer{
	padding:70px 0;
	background:url('../img/bg-footer.png') no-repeat 
	center center;
	background-size:cover;
	overflow:hidden;
	position:relative;
}
#footer *{
	color:white;
}
#footer div.logo{
		margin-bottom:16px;
		margin-left:0;
}
#footer ul.help{
	font-size:14px;
	font-family:'Roboto',Arial, sans-serif;
	letter-spacing:0.025em;
}
#footer ul.help li{
	display:inline-block;
	margin-right: 25px;
}
#footer ul.help li:last-child{
	margin-right: 0;
}
#footer p.robotoblack{
	margin: 15px 0 30px;
}
#footer .mr{
	margin-right: 15px;
	
}
#footer .place{
	overflow:hidden;
}
#footer .center{
	min-width:270px;
	margin:0 auto;
}
#footer .subscribe{
display:inline-block;
vertical-align:top;
height:45px;
width:211px;
line-height:45px;
padding:0 20px;
border:1px solid #a099b1;
}
#footer .subscribe:hover{
	background:#fff;
	color:black;
	opacity:0.9;
	cursor:pointer;
	transition:all,0.3s;
}
#footer .fly{
	background: white url('../img/paper.png') no-repeat 
	center center;
	height:45px; width:70px;
	display: inline-block;
	opacity:0.5;
}
#footer .fly:hover{
	background:#fff url('../img/paper.png') no-repeat 
	center center;;
	color:black;
	opacity:0.9;
	cursor:pointer;
	transition:all,0.3s;
}
#footer .social{
	margin-top: 27px;
	width:278px;
}
#footer .social li{
	display:inline-block;
	width:35px;
	height:35px;
	border:1px solid white;
	font-size:16px;
	border-radius:35px;
	margin-right: 8px;
}
#footer .social a{
	display:block;
	text-align:center;
	margin-top: 10px;
}
#footer .social li:hover{
	background:#fff;
}
#footer .social li:hover a{
	color:black;
}















@media(max-width:992px)
{
		#forma h1{
			text-align:center;
		}
		#forma .learn{
			margin: 0 auto 100px;
		}
		#footer .logo{
			width:100%;
		}
		#footer p.robotoblack{
			margin:30px auto 10px;
		}
		#footer p.soc{
			width:270px;
		}
		#footer ul.help{
			margin-top: 30px;
		}
		#footer p,
		#footer ul.help li{
			margin: 0;
			display:block;
			text-align:center;
		}
		#footer ul.help li{
			margin-top: 5px;
		}
		#footer .div,#footer .social{
			margin:0 auto;
		}
		#footer .subscribe,#footer .fly{
			display:block;
			margin:0 auto 20px;
		}
}
@media(min-width:768px) and (max-width:820px){
	#footer .social li{
		margin: 0;
	}
}
@media(min-width:768px) and (max-width:768px){
	#story .triangle{
		margin-top: 80px;
	}
}
@media(max-width:768px)
{
	header .header-content nav{
		display:none;
	}
	header .nav-toggle{
		display:block;
	}
  #story .triangle img {
  	display:block;
  	margin:0 auto;
  }
  #story h1{
  	margin-top: 50px;
  	text-align:center;
  }
  #story .learn{
  	margin:0 auto;
  }
		#footer .logo{
		width:130px;
		}
		#footer p.robotoblack{
			margin:30px 0 10px;
		}
		#footer p.soc{
			width:270px;
		}
		#footer ul.help{
			margin-top: 30px;
		}
		#footer p{
			margin:0;
			display:block;
			text-align:left;
		}
		#footer ul.help li{
			display:inline-block;
			margin-right:20px;
		}
		#footer ul.help li{
			margin-top: 5px;
		}
		#footer .div,#footer .social{
			margin:0;
		}
		#footer .subscribe,#footer .fly{
			display:inline-block;
			
		}
}
@media(max-width:480px)
{
	
}
@media(max-width:320px)
{
	#forma .right{
		float:none;
	}
	#forma .left,#forma .right{
		width:100%;
	}
}

/*Скрытие placeholder при фокусировке*/
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}
textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}
/*Расположение placeholder*/
input[placeholder]          {padding-left:20px;text-overflow:ellipsis;}
input::-moz-placeholder     {padding-left:20px; text-overflow:ellipsis;} 
input:-moz-placeholder      {padding-left:20px; text-overflow:ellipsis;} 
input:-ms-input-placeholder {padding-left:20px; text-overflow:ellipsis;}  
textarea[placeholder]          {padding-left:20px; text-overflow:ellipsis;}
textarea::-moz-placeholder     {padding-left:20px; text-overflow:ellipsis;} 
textarea:-moz-placeholder      {padding-left:20px; text-overflow:ellipsis;} 
textarea:-ms-input-placeholder {padding-left:20px; text-overflow:ellipsis;}  